* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General Style*/
body {
  background-color: #252839;
  min-height: 90vh;
  max-height: 100vh;
}

/*Score Style*/
.score-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: space-around;
  margin-top: 10px;
}

/*Playarea Style*/
.playarea-container {
  width: 100%;
  height: auto;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/*Image Style*/
.player-img img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  border-radius: 50px;
}

.player-choices img:hover {
  background-color: blue;
}

/*Choicearea Style*/
.choicearea {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.player-choicearea {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 3px solid black;
  margin-left: 30px;
}
.robot-choicearea {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 3px solid black;
  margin-right: 30px;
}

.player-choicearea {
  font-size: 5rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-choicearea {
  font-size: 5rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Element Style*/
.player {
  display: flex;
  margin-top: 10px;
}

.robot {
  display: flex;
  margin-top: 10px;
}

/*Element-Choices Style*/
.player-choices {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.robot-choices {
  display: flex;
  gap: 10px;
  margin-right: 30px;
  position: relative;
}

/*Special Effect Style*/
.special {
  font-size: 3rem;
  padding: 50px;
  margin-top: 30px;
  border: 2px solid blue;
  cursor: pointer;
  transition: all 0.25s linear;
}

.special1 {
  font-size: 5rem;
  padding: 50px;
  margin-top: 30px;
}

/*Special Effect Style*/
.special:hover {
  background-color: blue;
  scale: 0.9;
}

.special11 {
  animation: scale1 1s 0.5s linear infinite alternate;
}

/*Time Style*/
.time {
  font-size: 4rem;
  color: white;
  display: block;
  width: 100%;
  height: 140px;
  margin-top: 50px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.time-played {
  display: block;
  position: relative;
}

.time p {
  letter-spacing: 10px;
}

.timeCount {
  display: flex;
}

.change {
  background-color: transparent;
  border: none;
  outline: none;
}

/*Result Style*/
.result {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

/*Special Animation*/
@keyframes scale1 {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

.special12 {
  animation: scale2 1s 1s linear infinite alternate;
}

@keyframes scale2 {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

.special13 {
  animation: scale3 1s 1.5s linear infinite alternate;
}

@keyframes scale3 {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

/*Loading Effect Style*/
.loading {
  width: 8rem;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(var(--value) * 45deg));
}

.loading div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #00aedf;
  border-radius: 5rem;
  filter: hue-rotate(calc(var(--value) * 45deg));
  animation: loading 1s infinite linear;
  animation-delay: calc(var(--value) * 0.125s);
}

/*Loading Animation*/
@keyframes loading {
  to {
    transform: scale(0);
  }
}

/*Hidden Effect Style*/
.display2 {
  visibility: hidden;
}

.display {
  display: none;
}

/*Icon Style*/
.icon-container {
  color: white;
  position: relative;
  font-size: 2rem;
}

.fa-house {
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}

.fa-house:hover {
  color: black;
}
